#simula consulta nas bases de dados
SIMULATE_WAIT_IN_MS=0
# tamanho máximo para uploads de imagens em bytes
NEXT_PUBLIC_IMAGE_UPLOAD_MAX_SIZE=informe_valor_maximo_da_imagem
# pasta onde as imagens serão armazenadas
IMAGE_UPLOAD_FOLDER='nome_da_pasta_das_imagens'
# URL do servidor para onde as imagens serão enviadas, sem barra no final
IMAGE_SERVER_URL='informe_endereço_completo_da_imagem'
JWT_SECRET_KEY='SUA_SECRET_KEY_AQUI'
#Tempo para o login expirar (use o mesmo valor em segundos e string)
#ex. 3600 -> 1h, 600 -> 10m, 60 -> 1m, 86400 -> 1d
LOGIN_EXPIRATION_SECONDS=60
LOGIN_EXPIRATION_STRING='1m'
LOGIN_COOKIE_NAME='nome do cookie da sessão'
# Nome do Usuário - hash de senha em base64
LOGIN_USER='SEU_USUARIO_AQUI'
LOGIN_PASS='SEU_HASH_DE_SENHA_AQUI'
# permite ou não login (0 = Não, 1 = Sim)
ALLOW_LOGIN=1
